*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.head>header>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
.head>header>ul>li>a{
    color: white;
}
.head>header>ul>li>img{
    width: 45%;
}
.head>header>ul>#icon{
    font-size: 35px;
    color: white;
}
.head>header{
    position: fixed;
    width: 100%;
    background-color: #06083c;
    height: 120px;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}
.user>h2{
    font-size: 2.3rem;
    color: darkgray;
}
.user{
    display: flex;
    gap: 60px;
    margin-top: 190px;
    align-items: center;
    justify-content: center;
}
.user>i{
    font-size: 4rem;
}
.payment>form>div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.payment>form>div>input{
    width: 370px;
    background: transparent;
    height: 21px;
}
.payment>form{
    display: flex;
    gap: 25px;
    background-color:#bfdccd;
    padding: 50px 0;
    padding-left: 70px;
}
.payment>#icon{
    display: flex;
    justify-content: space-evenly;
    background-color:#bfdccd;
    font-size: 2rem;
    padding: 30px;
    margin-top: 100px;
}
.count>div>a{
    color: white;
    background-color: #28c76f;
    padding: 9px 24px;
    border-radius: 6px;
}
.count>div>a:hover{
        background-color: #28f76c;
}
.count{
    background-color:#bfdccd;
    padding: 30px;
}
.count>div{
    display: flex;
    margin-left: 65px;
   display: inline-block;
}
.pay{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.pay>div>img{
    width: 100%;
}
.bot{
    margin-top: 80px;
    background-color: #1d1d1f;
    padding: 40px;
}
.bot>footer>div>.foot>span{
    color: white;
    font-size: 1.2rem;
    margin-top: 40px;
}
.bot>footer>div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bot>footer>div>#brand>a{
    color: white;
}
.bot>footer>div>#brand{
    display: flex;
    gap: 25px;
    color: white;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
}
.bot>footer>div>.foot>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    color: #838485;
}
.bot>footer>div>.foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 35px;
}